h2{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:brown;
  text-align: center; 
  text-decoration: underline
}

.content{
  font-family: Calibri; 
  color:black; 
  font-size: 12pt; 
  font-style: normal;
  font-weight: bold;
  text-align:center; 
  background-color: silver; 
  border: 3px solid navy
}
table.inner{
  border: 0px
}
